*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    
}
img{
    width: 550px ;
    height: 550px;
    margin-left:650px ;
    margin-top: 200px;
}

.all{
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.605),rgba(0, 0, 0, 0.605)),url("./img/download.jpg");
    background-size: cover;
    background-position: center;
}